# Entorno Virtual
venv/
env/
.env
.venv/

# Caché de Python
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.mypy_cache/

# Variables de entorno y secretos (¡MUY IMPORTANTE!)
.env
.env.*
!.env.example

# Bases de datos locales (si usas SQLite)
*.sqlite3
*.db

# Archivos de Sistema / IDEs
.vscode/
.idea/
.DS_Store
Thumbs.db

# Distribución / Paquetes
dist/
build/
*.egg-info/
